---
apiVersion: v1
kind: Pod
metadata:
  name: voiydctl
  namespace: voiyd
  labels:
    app: voiydctl
spec:
  containers:
    - name: voiydctl
      image: ghcr.io/amimof/voiyd:e2e-test
      imagePullPolicy: IfNotPresent
      command:
        - sleep
        - "3600"
      resources:
        requests:
          memory: "64Mi"
          cpu: "50m"
        limits:
          memory: "128Mi"
          cpu: "100m"
  restartPolicy: Always
