name: Go

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  license:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Pre-download modules
        run: go mod download
      - name: License Report
        run: make license-report
      - name: License Check
        run: make license-check

  staticcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Lint
        run: make lint
      - name: Go Vet
        run: make vet

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Test
        run: make test
      - name: Race
        run: make race
      - name: Benchmark
        run: make benchmark
      - name: Coverage
        run: make coverage

  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Compile Server
        run: make server
      - name: Compile Node
        run: make node
      - name: Compile CLI
        run: make bbctl
