name: Release

on:
  push:
    tags:
      - "v*"
    branches:
      - "master"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  releases:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.3

      - name: Build Server Binaries
        run: |
          GOOS=linux GOARCH=amd64 BINARY_NAME=voiyd-server-linux-amd64 make server
          GOOS=linux GOARCH=arm BINARY_NAME=voiyd-server-linux-arm make server
          GOOS=linux GOARCH=arm64 BINARY_NAME=voiyd-server-linux-arm64 make server
          GOOS=windows GOARCH=amd64 BINARY_NAME=voiyd-server-windows-amd64.exe make server
          GOOS=darwin GOARCH=amd64 BINARY_NAME=voiyd-server-darwin-amd64 make server
          GOOS=darwin GOARCH=arm64 BINARY_NAME=voiyd-server-darwin-arm64 make server

      - name: Build Node Binaries
        run: |
          GOOS=linux GOARCH=amd64 BINARY_NAME=voiyd-node-linux-amd64 make node
          GOOS=linux GOARCH=arm BINARY_NAME=voiyd-node-linux-arm make node
          GOOS=linux GOARCH=arm64 BINARY_NAME=voiyd-node-linux-arm64 make node

      - name: Build CLI Binaries
        run: |
          GOOS=linux GOARCH=amd64 BINARY_NAME=voiydctl-linux-amd64 make voiydctl
          GOOS=linux GOARCH=arm BINARY_NAME=voiydctl-linux-arm make voiydctl
          GOOS=linux GOARCH=arm64 BINARY_NAME=voiydctl-linux-arm64 make voiydctl
          GOOS=windows GOARCH=amd64 BINARY_NAME=voiydctl-windows-amd64.exe make voiydctl
          GOOS=darwin GOARCH=amd64 BINARY_NAME=voiydctl-darwin-amd64 make voiydctl
          GOOS=darwin GOARCH=arm64 BINARY_NAME=voiydctl-darwin-arm64 make voiydctl

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          artifacts: "./bin/*"

  packages:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@326560df218a7ea9cf6ab49bbc88b8b306bb437e

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@6d5347c4025fdf2bb05167a2519cac535a14a408

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
